# Настройки безопасности
SECRET_KEY=your-secret-key-here-change-in-production

# Настройки базы данных PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=trend for brand

# Настройки Redis
REDIS_HOST=localhost
REDIS_PORT=6379 